.navegador{
    background-color: $color-primario;
    width: 100%;
    padding: 10px;
    position:sticky;
    z-index: 2;
    top: 0px;
}

.navegador-links{
    gap: 10px;
}

.navegador-link a{
    display:block;
    padding: 10px 5px;
    color: black;
    text-decoration: none;
    font-style: italic;
    
}

.navegador-link{
    list-style: none;
}
.icono-menu{
    display: none;
}

.navbar{
    background-color: $color-primario;
    width: 100%;
    padding: 1px;
    position:sticky;
    z-index: 2;
    top: 0px;

}
