.opciones{
    margin: 30px 0px;
}

.opciones-opcion{
    width: auto;
    background-color: rgb(232, 216, 195);
    padding: 20px;
    color: rgb(138, 137, 138);
    text-align: center;
    border-radius: 50px;
    margin: 10px 0px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    h1{
        color: black;
    }
    h3{
        font-size: 28px;
    }

}