.opciones{
    margin: 30px 0px;
}

.opciones-opcion{
    background-color: rgb(230, 211, 184);
    padding: 40px;
    color: rgb(138, 137, 138);
    text-align: center;
    border-radius: 5px;
    margin: 10px 0px;
}