.portada{
    width: 100%;
    height: 340px;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.portada-imagen{
    width: inherit;
    height: inherit;
    object-fit:cover;
    position:absolute;
    z-index:-1;
    
}

.titulo-inicio{
    font-size: 110px;
    font-weight:bold;
    font-style:italic;
    font-family:"Playfair";
    text-align: center;
    color: rgb(232, 224, 217);
    text-shadow:  2px 2px 2px rgb(1, 1, 0);
    position:relative;
    padding-top: 0px;
    @media(max-width: 992px) {
            font-size: 48px;
    }  
    @media(max-width: 768px){
        font-size: 32px;
    }     
}


.subtitulo{
    color:rgb(225, 223, 219);
    font-size: 40px;
    text-align: center;
    font-style: italic;
    font-family: "Playfair";
    padding-bottom: 20px;
    text-shadow:  2px 2px 2px rgb(1, 1, 0);
    padding-top: 10px;
}


.titulo2{
    color: $color-primario;
    font-size: 30px;
    margin-top: auto;
    text-align: center;
    font-style: italic;
    font-family: "Playfair";
}

.presentacion{
    font-size: 20px;
    color: rgb(90, 65, 29);
    padding-top: 100px;
    padding-bottom: 30px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
    }

.ubicacionesdelcafe{
    color: rgb(35, 28, 14);
    font-size: 30px;
    h1{
        padding-top: 50px;
        text-align:center;
        padding-bottom: 30px;
        margin-left: 20%;
        margin-right: 20%; 
        font-style: italic;   }
    p{
        font-size: 24px;
        font-style: italic;
        color: rgb(97, 61, 32);
        margin-right: 20%;;
        margin-left: 20%;
        text-align: center;
    }
}
.portada-imagen-contactos{
    width: inherit;
    height: inherit;
    object-fit:cover;
    position:absolute;
    z-index:-1;
}
