@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "playfair";
}

.tarjeta-boton {
  width: 120px;
  height: 40px;
  border: 0px;
  padding: 10px;
  border-radius: 5px;
}

.navegador {
  background-color: rgba(205, 150, 102, 0.4705882353);
  width: 100%;
  padding: 10px;
  position: sticky;
  justify-content: center;
  z-index: 2;
  top: 0px;
}

.navegador-links {
  display: flex;
  gap: 30px;
}

.navegador-link a {
  display: block;
  padding: 10px 5px;
  color: black;
  text-decoration: none;
  font-style: italic;
}

.navegador-link {
  list-style: none;
  display: flex;
}

.portada {
  width: 100%;
  height: 340px;
  position: relative;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.portada-imagen {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: -1;
}

.titulo-inicio {
  font-size: 110px;
  font-weight: bold;
  font-style: italic;
  font-family: "Playfair";
  text-align: center;
  color: rgb(232, 224, 217);
  text-shadow: 2px 2px 2px rgb(1, 1, 0);
  position: relative;
  padding-top: 0px;
}
@media (max-width: 992px) {
  .titulo-inicio {
    font-size: 48px;
  }
}
@media (max-width: 768px) {
  .titulo-inicio {
    font-size: 32px;
  }
}

.subtitulo {
  color: rgb(225, 223, 219);
  font-size: 40px;
  text-align: center;
  font-style: italic;
  font-family: "Playfair";
  padding-bottom: 20px;
  text-shadow: 2px 2px 2px rgb(1, 1, 0);
  padding-top: 10px;
}

.titulo2 {
  color: rgba(205, 150, 102, 0.4705882353);
  font-size: 30px;
  margin-top: auto;
  text-align: center;
  font-style: italic;
  font-family: "Playfair";
}

.tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding-top: 150px;
  margin-bottom: 60px;
}
@media (max-width: 992px) {
  .tarjetas {
    margin-bottom: 60px;
  }
}

.tarjeta-titulo {
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  color: rgb(41, 40, 40);
  font-style: italic;
  font-family: "Playfair";
  font-size: 25px;
}

.tarjeta {
  width: 300px;
  background-color: rgba(201, 153, 108, 0.4039215686);
  margin: 10px;
  padding: 25px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.tarjeta-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.tarjeta-boton {
  background-color: rgb(12, 12, 11);
  color: rgba(6, 5, 3, 0.868);
  border-radius: 5px;
  position: absolute;
  bottom: -20px;
  right: 10px;
  transition: 0, 5s;
}
.tarjeta-boton:hover {
  background-color: rgba(201, 153, 108, 0.4039215686);
  width: 150px;
}

.tarjeta-boton {
  background-color: rgba(205, 150, 102, 0.4705882353);
}

.carrousel-sandwich {
  width: 80%;
  margin: auto;
}

.carousel-item h5 {
  font-size: 58px;
  text-shadow: 2px 2px 2px black;
}
.carousel-item p {
  font-size: 34px;
}

.galeria {
  width: 80%;
  margin: auto;
  padding: 50px;
  display: grid;
  gap: 20px;
  grid-template-columns: 5, 0px;
  grid-template-rows: repeat(6, 1, 50px);
  grid-template-areas: "img1 img2 img2 img4" "img1 img2 img2 img4" "img1 img3 img3 img4" "img5 img5 img6 img6" "img5 img5 img6 img6" "img7 img7 img7 img7";
}
@media (max-width: 992px) {
  .galeria {
    width: 100%;
    padding: 5px;
  }
}

.galeria img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.img1 {
  grid-area: img1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  color: white;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  text-align: center;
}

.img1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: -1;
}

.img:nth-child(1) {
  grid-area: img1;
}

.img:nth-child(2) {
  grid-area: img2;
}

.img:nth-child(3) {
  grid-area: img3;
}

.img:nth-child(4) {
  grid-area: img4;
}

.img:nth-child(5) {
  grid-area: img5;
}

.img:nth-child(6) {
  grid-area: img6;
}

.img:nth-child(7) {
  grid-area: img7;
}

.pie-pagina {
  padding: 10px;
}

.link {
  text-decoration: none;
  font-size: 25px;
  color: black;
}

.formulario-contacto {
  background-color: peru;
}

.form-contactos {
  background-color: #D9C1B4;
  width: 350px;
  margin: 40px auto 40px auto;
  padding: 20px;
  border-radius: 5px;
}

.form-contactos-grupo {
  height: 80px;
  gap: 10px;
  margin: 10px 0px;
}

.form-contactos-grupo-mensaje {
  gap: 10px;
  height: 100%;
  margin: 15px 0px;
}

.form-contactos-grupo-label {
  color: rgb(17, 16, 16);
}

.form-contactos-grupo-input {
  width: 100%;
  background-color: transparent;
  color: rgb(69, 51, 27);
  border: 1px solid rgb(134, 113, 74);
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0, 5s;
}

.form-contactos-grupo-input::-moz-placeholder {
  color: rgb(14, 13, 13);
}

.form-contactos-grupo-input::placeholder {
  color: rgb(14, 13, 13);
}

.form-contactos-grupo-input:focus {
  border: 1px solid white;
  outline: none;
}

.form-contactos-boton {
  font-size: 20px;
  width: 100%;
  background-color: rgb(210, 196, 178);
  font-weight: bold;
  background-color: rgb(186, 157, 114);
  border: 0px;
  border-radius: 5px;
  padding: 10px 5px;
  margin: 10px 0px;
}

.portada-imagen-contactos {
  width: 100%;
  position: relative;
  z-index: -1;
}

.opciones {
  margin: 30px 0px;
}

.opciones-opcion {
  background-color: rgb(230, 211, 184);
  padding: 40px;
  color: rgb(138, 137, 138);
  text-align: center;
  border-radius: 5px;
  margin: 10px 0px;
}/*# sourceMappingURL=style.css.map */