 *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family:"playfair";
 }

 .navegador{
    background-color:rgba(233, 205, 169, 0.795);
    width: 100%;;
    padding: 10px;
    position: flex;
    justify-content:center;
    z-index: 2;
    top: 0px;
}

.navegador-links{
    display: flex;
    gap: 20px;
}

.navegador-link a{
    display: block;
    padding: 20px 5px;
    color:rgb(77, 53, 24);
    text-decoration: none;
    font-style: italic;
}

.portada{
    width: 100%;
    height: 300%;
    position: relative;
    z-index: -1;
}

.navegador-link{
    list-style: none;
}

.portada-imagen{
    width: inherit;
    height: inherit;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    
}

.titulo-inicio{
    font-size: 110px;
    font-weight: bold;
    font-style:italic;
    font-family:"Playfair";
    text-align: center;
    color: rgb(251, 251, 250);
    text-shadow:  2px 2px 2px rgb(1, 1, 0);
}


.subtitulo{
    color:rgb(102, 69, 37);
    font-size: 40px;
    text-align: center;
    font-style: italic;
    font-family: "Playfair";
    padding-bottom: 20px;
    padding-top: 30px;
}


.titulo2{
    color: rgb(90, 64, 38);
    font-size: 30px;
    margin-top: auto;
    text-align: center;
    font-style: italic;
    font-family: "Playfair";
}

.tarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:25px;

}

.tarjeta-titulo{
   font-weight:bold;
   text-align: center;
}


.tarjeta{
    width: 300px;
    background-color: rgb(216, 195, 168);
    margin: 10px;
    padding: 25px;
    position: relative;
    display:flex;
    flex-direction:column;
    gap: 70px;
}


.tarjeta-img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.tarjeta-boton{
    width: 100px;
    height: 40px;
    background-color: rgb(238, 229, 216);
    color: rgb(5, 5, 4);
    border: 0px;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    bottom: -20px;
    right: 10px;
    transition: 0,5s;
}

.tarjeta-boton{
    background-color: rgb(163, 143, 113);
}

.formulario-contacto{
    background-color:peru

}

.galeria{
    width: 80%;
    margin: auto;
    padding:50px ;
    display:grid;
    gap: 20px;
    grid-template-columns: 200px;
    grid-template-rows: 200px;
    grid-template-areas: "img1 img2 img2 img4" 
                         "img1 img2 img2 img4"             
                         "img1 img3 img3 img4"
                         "img5 img5 img6 img6"
                         "img5 img5 img6 img6"
                         "img7 img7 img7 img7";
                                                              
}


.galeria img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img1{ 
    grid-area: img1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    color: white;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    text-align: center;
}
.img1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index:-1
}

.img2{
    grid-area: img2;
}

.img3{
    grid-area: img3;
}

.img4{
    grid-area: img4;
}

.img5{
    grid-area: img5;
}

.img6{
    grid-area: img6;
}

.img7{
    grid-area: img7;
}

.pie-pagina{
    padding: 10px;
}
.link{
    text-decoration: none;
    font-size: 25px;
    color: black;
}

.portada-img{
    width: 100%;
    height: 100%;
    position:relative;
    z-index: -1;
}
.form-contactos{
    background-color: rgba(240, 227, 207, 0.803);
    width: 350px;
    margin: 40px auto 40px auto;
    padding: 20px;
    border-radius: 5px;
}
.form-contactos-grupo{
  height: 80px;
  gap: 10px;
  margin: 10px 0px;
}

.form-contactos-grupo-mensaje{
    gap: 10px;
    height: 100%;
    margin: 15px 0px;
}
.form-contactos-grupo-label{
    color: rgb(17, 16, 16);
}
.form-contactos-grupo-input{
    width: 100%;
    background-color: transparent;
    color: rgb(69, 51, 27);
    border: 1px solid rgb(134, 113, 74);
    padding: 5px 10px;
    border-radius: 5px;
    transition:0,5s;
}
.form-contactos-grupo-input::placeholder{
    color: rgb(14, 13, 13);
}

.form-contactos-grupo-input:focus{
    border: 1px solid white;
    outline: none;
}
.form-contactos-boton{
    font-size: 20px;
    width: 100%;
    background-color: rgb(210, 196, 178);
    font-weight: bold;
    background-color: rgb(186, 157, 114);
    border: 0px;
    border-radius: 5px;
    padding: 10px 5px;
    margin: 10px 0px;
}

.opciones{
    margin: 30px 0px;
}

.opciones-opcion{
    background-color: rgb(230, 211, 184);
    padding: 40px;
    color: rgb(138, 137, 138);
    text-align: center;
    border-radius: 5px;
    margin: 10px 0px;
}
@media(max-width: 1024px){

}

@media(max-width: 992px) {
    .titulo{
        font-size: 48px;
    }
    .galeria{
        width: 100%;
        padding: 5px;
    }
    .tarjetas{
        margin-bottom: 20px;}
    }
@media(max-width: 768px){

    }
@media(max-width: 556px){

}

